@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model CalcModel;
<form method="post">
    <label>GRADING CALCULATOR</label>
    <br />
    <label>Assignments:</label>
    <input type="number" id="Assigments" asp-for="Assigments" />
    <label>Group Project:</label>
    <input type="number" id="Gro" asp-for="Gro" />

    <label>Quizzes:</label>
    <input type="number" id="Quiz" asp-for="Quiz" />

    <label>Midterm Exam:</label>
    <input type="number" id="Midterm" asp-for="Midterm" />

    <label>Final Exam:</label>
    <input type="number" id="Final" asp-for="Final" />

    <label>INTEX :</label>
    <input type="number" id="Intex" asp-for="Intex" />

    <br />
    <button id="calc" type="submit">CALCULATE</button>

    <div>
        <p id="show"></p>
    </div>
    <div asp-validation-summary="All">
        
    </div>
    <br />
    <br />

</form>
   

<script src="~/js/calc.js"></script>
