@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pls Work ";
}


   
        <div class="grid-container">
            <img src="img/Screenshot 2023-01-30 at 2.14.15 AM.png" />
        </div>
        <p>I enjoy going to live entertainment shows</p>
        <h1>My preferred name is Eddie :)</h1>
        <p>What I hope to get our of this class: I have no expectations really, I just want to know how to program efficiently and have a firm foundation of csharp and React.</p>
        <p>My top three jobs that I am looking at for post-graduation are:</p>
        <ol>
            <li>Cyber Security Analyst</li>
            <li>Data Anlyst</li>
            <li>Businnes Anlyst</li>
        </ol>

      